body
{
	background-color: rgb(20,20,20);
	color: white;
}
#left
{
	height: 500px;
	width: 49%;
	background-color: rgb(25,25,25);
	float: left;
}
#output
{
	background-color = white;
}
#right
{
	height: 500px;
	width: 49%;
	background-color: white;
	float: right;
}
.InO
{
	margin-bottom: 2px;
	box-sizing: border-box;
	border: 2px solid rgb(200,200,200);
	border-radius: 10px;
	padding: 5px;
}
